<% @products.each do |e| %>
 <p>
     <%= form_tag cart_items_path,method: :post do %>
     <%= e.name %>
     <%= e.price %>円
     <%= hidden_field_tag :product_id, e.id %>
     数量:<%= select_tag(:qty,options_for_select((1..30)))%>
     <%= submit_tag 'カートへ追加する'%>
     <% end %>
 </p>
<% end %>

<p><%= link_to '登録', 'products/new' %></p>
<p><%= link_to '一覧', 'products#index' %></p>
<br><br>
<p><%= link_to 'カート', 'carts/show' %></p>